main {
  display: block;
  margin: 0 auto;
  max-width: 30rem;
}

h1 {
  text-transform: capitalize;
  font-size: 3rem;
  margin-bottom: 0;
}

.subtitle {
  margin: 0;
  font-size: 1.5rem;
}

.add-item-form {
  margin-top: 2rem;
}

.todos-table {
  margin-top: 2rem;
}
